$primaryColor: #f4b41a;
$secondaryColor: #143d59;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: $primaryColor;
    padding: 0 1em;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin: 1em;
    color: $secondaryColor;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.buttons {
    margin-bottom: 3em;
    & > button {
        font-size: 1.5rem;
        margin: 0 1em;
        background-color: $secondaryColor;
        color: $primaryColor;
        font-weight: 600;
        letter-spacing: .1em;
        padding: 1em 2em;
        border-radius: 10px;
        transition: transform 200ms ease;

        &:hover {
            transform: scale(1.02, 1.02);
        }
    }
}

.controls {
    display: flex;
    justify-content: center;
    & > span {
        cursor: pointer;
        margin: 0 1em;
        background-color: $secondaryColor;
        color: $primaryColor;
        padding: .5em 1em;
        border-radius: 5px;
    }
}

.char {
    display: grid;
    grid-auto-columns: 100%;
    align-items: flex-start;
    transition: transform 500ms ease;


    & > div {
        margin: 3em;
        grid-row: 1 / -1;
        grid-column: 1 span 1;
        
        & > img {

        }

        & > h2 {
            margin: .5em 0;
            font-size: 2rem;
        }

        & > p {
            font-size: 1.2rem;
        }

    }

}