$primaryColor: #f4b41a;
$secondaryColor: #143d59;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: $primaryColor;
    padding: 1em;
}

body > div {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: .7em;
    color: $secondaryColor;
}

button {
    cursor: pointer;
    letter-spacing: .1em;
    transition: transform 200ms ease;

    &:hover {
        transform: scale(1.02, 1.02);
    }
}

button, input{
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    background-color: $secondaryColor;
    color: $primaryColor;
    border-radius: 10px;
    padding: 1em 2em;
}

#search-form {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & > input {
        text-align: left;
        padding: 1em;
        width: 30%;
        margin-bottom: 1em;
        transition: box-shadow 200ms ease-in-out;
        &:focus {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.466);
        }
        &::placeholder {
            color: $primaryColor;
            opacity: 0.6;
            font-weight: 500;
        }
    }
    
    & > button {
        margin: 0 1em;

    }
}

.controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
    & > span {
        cursor: pointer;
        margin: 0 1em;
        background-color: $secondaryColor;
        color: $primaryColor;
        padding: .5em 1em;
        border-radius: 5px;
    }
}

#anime-title {
    font-size: 2rem;
    margin-bottom: 1em;
}

.char {
    display: grid;
    grid-auto-columns: 100%;
    transition: transform 300ms ease;
    
    & > div {
        border: 2px solid $secondaryColor;
        border-radius: 5px;
        overflow-y: auto;
        height: 75vh;
        padding: .5em 1em;
        grid-row: 1 / -1;
        grid-column: 1 span 1;
        
        & > img {
            border: 10px solid #ffffff;
        }

        & > h2 {
            margin: .5em 0;
            font-size: 2rem;
        }

        & > p {
            font-size: 1.2rem;
            padding-bottom: 2em;
        }

    }

}

@media (max-width: 768px) {
    html {
        font-size: 12px
    }

    #search-form > input {
        width: 100%;
    }
}
